# EHR Data Profiler
## Run the next cell to make all the imports, which include Pandas and the EHR data anaylsis functions:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from lib.ehr_dp_lib import *
pd.set_option('display.max_colwidth', None)

## The following cells in this notebook are auto-generated from the data in the 'Data' folder
## For each table a Pandas dataframe is created to connect to each table

### Below is a list of the EHR Data Profiler functions, arguments, and descriptions:


- **missingness( *dataframe name* )**: Returns a dataframe of the number of null values per column.


- **catbar( *dataframe name, column name, graph=(True or False)*)**: \[Generated on *categorical* data type only\] Returns a dataframe of counts of all the groups of categories in the specific column in the dataframe. When `graph` argument set to `True` returns a bar graph.


- **numstats( *dataframe name, column name* )**: \[Generated on *number* data type only\] Returns a dataframe of descriptive statistics (ie. mean, max, min, median, quartiles) for the column data.


- **dateline( *dataframe name, column name* )**: \[Generated on *date* data type only\] Returns a line graph of the freuency of specific dates along an x-axis of time.


- **flow_stats( *flowsheet dataframe* )**: \[Generated only if Flowsheet_Vitals.csv table in Data folder\] Returns a dataframe of descriptive statistics for common vitals sign types (ie. Height, Weight, Temperature, Sp02, Pulse, BMI, Respirations).


- **lab_stats( *lab dataframe, top=(10 or greater)* )**: \[Generated only if Labs.csv table in Data folder\] Returns a dataframe of descriptive statistics for top lab procedures in dataset. The `top` argument can be adjusted to capture more lab procedures.

## Using TEXT_SEARCH

### Another useful function included is 'text_search'. It is useful way to search specific columns in dataframes for text and return only those rows that contain the text.

- **text_search( *dataframe name, column name, text to search, ignore case=(True by default can also be set to False)* )**


### Example:
If you wanted to search Patient Demographics data for patients whose 'ETHNICITY' contains the text 'latino' using text_search:
`text_search(patient_demographics_df, 'ETHNICITY', 'latino')`

Result:
![latino_search.PNG](lib/latino_search.PNG)


## Combining TEXT_SEARCH with other functions:
### You can also combine functions to get the a specific analytical calculation. 

### Example:
If you wanted to get a set of counts of the categories in `SEX` of the patients (ie. Male, Female) in the previous dataset of 'latino'. First, you would need to assign the result of the `text_search` to a new value, in this case `latino_pats`:

`latino_pats = text_search(patient_demographics_df, 'ETHNICITY', 'latino')
catbar(latino_pats, 'SEX', graph='True')`

Result:
![latino_gender_search.PNG](lib/latino_gender_search.PNG)

## Run the following block to describe the tables in your Data folder:

In [2]:
describe_tables()

,TABLE,ROW_COUNT,COLUMN_COUNT,DESCRIPTION
0,Encounters.csv,11207,14,"This table holds data for encounters for the patient cohort. There can be multiple rows per patient, but only one row per encounter."
1,Encounter_Diagnoses.csv,9126,10,This table holds encounter diagnoses data for the patients in the cohort. There can be multiple rows per patient as well as multiple rows per encounter.
2,Flowsheet_Vitals.csv,101070,5,This table holds flowsheet information for vital signs for the patients in the cohort. There can be multiple rows per patient.
3,Labs.csv,27657,14,This table holds all laboratory result information for the patients in the cohort. There can be multiple rows per patient as well as multiple rows per encounter.
4,Medications.csv,12547,15,This table holds medication information for the patients in the cohort. There can be multiple rows per patient as well as multiple rows per encounter.
5,Patient_Demographics.csv,500,19,This table holds demographic information for the patients in the cohort. There is only one row per patient
6,Procedures.csv,15258,6,This table holds procedure information for the patients in the cohort. There can be multiple rows per patient as well as multiple rows per encounter.

## PATIENT_DEMOGRAPHICS

In [3]:
patient_demographics_df = pd.read_csv('Data/Patient_Demographics.csv')
patient_demographics_df

,IP_PATIENT_ID,AGE,SEX,RACE,ETHNICITY,VITAL_STATUS,LANGUAGE,MARITAL_STATUS,SEXUAL_ORIENTATION,RELIGION,ADI_NATRANK,ADI_STATERNK,EDUCATION,INCOME,SVI_SOCIO_ECON,SVI_HCOMP,SVI_MINO_LANG,SVI_HTYPE_TRANS,SVI_TOTAL
0,IPPAT_101101099917108,60.0,Male,White or Caucasian,Unknown,Not Known Deceased,English,Single,NaN,Unknown,9.0,4.0,SHRINE|EDU:30-40,SHRINE|INC:100k-150k,0.3697,0.5022,0.7505,0.8394,0.6433
1,IPPAT_101101099942813,101.0,Female,Unknown,Unknown,Not Known Deceased,Unknown,Unknown,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IPPAT_101101099967579,53.0,Male,Unknown,Unknown,Not Known Deceased,English,Single,NaN,Christian,NaN,NaN,SHRINE|EDU:50-60,SHRINE|INC:100k-150k,NaN,NaN,NaN,NaN,NaN
3,IPPAT_101101099971777,107.0,Female,White or Caucasian,Unknown,Not Known Deceased,English,Widowed,NaN,Methodist,8.0,3.0,SHRINE|EDU:40-50,SHRINE|INC:100k-150k,0.0840,0.3945,0.7175,0.3115,0.2707
4,IPPAT_101101099983912,60.0,Female,White or Caucasian,Unknown,Not Known Deceased,English,Single,NaN,Jewish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,IPPAT_101101115139377,71.0,Female,Unknown,Unknown,Not Known Deceased,English,Unknown,NaN,Unknown,4.0,1.0,SHRINE|EDU:60-70,SHRINE|INC:150k-200k,0.1490,0.1818,0.3746,0.3189,0.1695
496,IPPAT_101101115160892,46.0,Male,White or Caucasian,Not Hispanic or Latino,Not Known Deceased,English,Single,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,IPPAT_101101115166267,24.0,Male,White or Caucasian,Hispanic or Latino,Not Known Deceased,English,Single,NaN,Agnostic,NaN,NaN,SHRINE|EDU:70-80,SHRINE|INC:100k-150k,NaN,NaN,NaN,NaN,NaN
498,IPPAT_101101115173222,40.0,Male,NaN,Unknown,Not Known Deceased,English,Unknown,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,IPPAT_101101115185525,60.0,Male,White or Caucasian,Not Hispanic or Latino,Not Known Deceased,English,Married,NaN,Catholic,5.0,3.0,SHRINE|EDU:30-40,SHRINE|INC:100k-150k,0.3825,0.3197,0.5658,0.4004,0.3903

In [4]:
missingness(patient_demographics_df)

                COLUMN  NULLS  PERCENT
0        IP_PATIENT_ID      0      0.0
1                  AGE      5      1.0
2                  SEX      0      0.0
3                 RACE     47      9.4
4            ETHNICITY      0      0.0
5         VITAL_STATUS      0      0.0
6             LANGUAGE      0      0.0
7       MARITAL_STATUS      0      0.0
8   SEXUAL_ORIENTATION    475     95.0
9             RELIGION      0      0.0
10         ADI_NATRANK    238     47.6
11        ADI_STATERNK    238     47.6
12           EDUCATION    171     34.2
13              INCOME    142     28.4
14      SVI_SOCIO_ECON    219     43.8
15           SVI_HCOMP    219     43.8
16       SVI_MINO_LANG    219     43.8
17     SVI_HTYPE_TRANS    219     43.8
18           SVI_TOTAL    219     43.8

In [5]:
catbar(patient_demographics_df, 'LANGUAGE', graph=False) ## Set graph=True for Bar graph

          LANGUAGE  COUNT  PERCENT
0          English    284     56.8
1          Unknown    184     36.8
2          Spanish     24      4.8
3         Armenian      2      0.4
4           Arabic      2      0.4
5  Chinese (Other)      1      0.2
6            Hindi      1      0.2
7   Farsi, Persian      1      0.2
8       Vietnamese      1      0.2

In [ ]:
catbar(patient_demographics_df, 'SEX', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(patient_demographics_df, 'MARITAL_STATUS', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(patient_demographics_df, 'ETHNICITY', graph=False) ## Set graph=True for Bar graph

In [ ]:
numstats(patient_demographics_df, 'AGE')

In [ ]:
catbar(patient_demographics_df, 'RELIGION', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(patient_demographics_df, 'RACE', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(patient_demographics_df, 'SEXUAL_ORIENTATION', graph=False) ## Set graph=True for Bar graph

## ENCOUNTERS

In [ ]:
encounters_df = pd.read_csv('Data/Encounters.csv')
encounters_df

In [ ]:
missingness(encounters_df)

In [ ]:
dateline(encounters_df, 'ENCOUNTER_DATE')

In [ ]:
numstats(encounters_df, 'ENCOUNTER_AGE')

In [ ]:
catbar(encounters_df, 'EPIC_ENCOUNTER_TYPE', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(encounters_df, 'IP_VISIT_TYPE', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(encounters_df, 'EPIC_DEPARTMENT_NAME', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(encounters_df, 'HOSP_DISCHARGE_DISPOSITION', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(encounters_df, 'ED_DISPOSITION', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(encounters_df, 'DEPARTMENT_SPECIALTY', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(encounters_df, 'LOCATION', graph=False) ## Set graph=True for Bar graph

## ENCOUNTER_DIAGNOSES

In [ ]:
encounter_diagnoses_df = pd.read_csv('Data/Encounter_Diagnoses.csv')
encounter_diagnoses_df

In [ ]:
missingness(encounter_diagnoses_df)

In [ ]:
dateline(encounter_diagnoses_df, 'DIAGNOSIS_DATE')

In [ ]:
catbar(encounter_diagnoses_df, 'PRESENT_ON_ADMISSION', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(encounter_diagnoses_df, 'ADMISSION_DIAGNOSIS_FLAG', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(encounter_diagnoses_df, 'HOSPITAL_FINAL_DIAGNOSIS', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(encounter_diagnoses_df, 'PRIMARY_DIAGNOSIS_FLAG', graph=False) ## Set graph=True for Bar graph

## PROCEDURES

In [ ]:
procedures_df = pd.read_csv('Data/Procedures.csv')
procedures_df

In [ ]:
missingness(procedures_df)

In [ ]:
dateline(procedures_df, 'PROCEDURE_DATE')

In [ ]:
catbar(procedures_df, 'PROCEDURE_DESCRIPTION', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(procedures_df, 'PROCEDURE_CODE', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(procedures_df, 'PROCEDURE_TYPE', graph=False) ## Set graph=True for Bar graph

## FLOWSHEET_VITALS

In [ ]:
flowsheet_vitals_df = pd.read_csv('Data/Flowsheet_Vitals.csv')
flowsheet_vitals_df

In [ ]:
missingness(flowsheet_vitals_df)

In [ ]:
dateline(flowsheet_vitals_df, 'VITAL_SIGN_TAKEN_TIME')

In [ ]:
catbar(flowsheet_vitals_df, 'VITAL_SIGN_TYPE', graph=False) ## Set graph=True for Bar graph

In [ ]:
flow_stats(flowsheet_vitals_df)

## LABS

In [ ]:
labs_df = pd.read_csv('Data/Labs.csv')
labs_df

In [ ]:
missingness(labs_df)

In [ ]:
dateline(labs_df, 'ORDER_TIME')

In [ ]:
catbar(labs_df, 'PROCEDURE_CODE', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(labs_df, 'COMPONENT_NAME', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(labs_df, 'PROCEDURE_DESCRIPTION', graph=False) ## Set graph=True for Bar graph

In [ ]:
lab_stats(labs_df, top=10)

## MEDICATIONS

In [ ]:
medications_df = pd.read_csv('Data/Medications.csv')
medications_df

In [ ]:
missingness(medications_df)

In [ ]:
dateline(medications_df, 'ORDER_DATE')

In [ ]:
catbar(medications_df, 'EPIC_MEDICATION_NAME', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(medications_df, 'MEDISPAN_GENERIC_NAME', graph=False) ## Set graph=True for Bar graph

In [ ]:
catbar(medications_df, 'MEDISPAN_CLASS_NAME', graph=False) ## Set graph=True for Bar graph